@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    { 
        @*<li class="nav-item">
            <span style="color: black; float: right; margin: 6px 10px 0 0;">
                @User.Identity.Name
            </span>
        </li>*@

        <li class="nav-item">
            <form class="form-inline" style="float:right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" title="Cerrar Sesión">
                <button type="submit" class="nav-link btn btn-link text-dark" title="Cerrar Sesión de @User.Identity.Name">
                    <i class="fas fa-sign-out-alt" style="font-size:20px;color: #2196F3;" aria-hidden="true"></i>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Loguearse</a>
        </li>
    }
</ul>

