@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Control de Clientes</h1>
    <img src="~/img/logo.jpeg" style="width:50%" alt="Logo" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="row text-center col-12" id="listado" style="margin:0px">

    <div class="col-sm-5 col-md-5 homeBox" style="margin-top:15px">
        <button type="button" class="btn caja" style="background-color: #3498DB;" onclick="GoTo('/Clients/Index')">
            <i class="fas fa-user" style="font-size:50px;color:white;width:150px"><span hidden>Clientes</span></i>
            <p class="text-center texto-caja">
                Clientes
            </p>
        </button>
    </div>

    <div class="col-sm-5 col-md-5 homeBox" style="margin-top:15px">
        <button type="button" class="offset-sm-6 offset-md-5 btn caja" style="background-color: #3498DB;" onclick="GoTo('/Groups/Index')">
            <i class="fas fa-users" style="font-size:50px;color:white; width:150px"><span hidden>Clientes</span></i>
            <p class="text-center texto-caja">
                Grupos
            </p>
        </button>
    </div>

</div>

@section Scripts{ 

    <script>
        function GoTo(url) {
            window.location.href = url;
        }
    </script>

}