@model ClientManagment.Models.Client

@{
    ViewData["Title"] = "Editar";
}

<h1>Edita Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentNumber" class="control-label"></label>
                <input asp-for="DocumentNumber" class="form-control" maxlength="8" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent" class="control-label"></label>
                <input asp-for="Patent" class="form-control" maxlength="8" />
                <span asp-validation-for="Patent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="State" class="control-label"></label>

            <input type="checkbox" asp-for="State" class="form-control" value="0" />

            <span asp-validation-for="State" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            <label asp-for="isNotWished" class="control-label"></label>

            <input asp-for="isNotWished" class="form-control col-1" />

            <span asp-validation-for="isNotWished" class="text-danger"></span>
        </div>*@

            @if (Model.ImagePath == null)
            {
                <img class="img-thumbnail" src="/img/avatar.png" style="width:200px;" />
            }
            else
            {
                <img class="img-thumbnail" src="@Model.ImagePath" asp-append-version="true" alt="@Model.ImagePath" style="width:200px;height:200px;" />
            }

            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="file" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Volver</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/clients.js" asp-append-version="true"></script>
}
